.button {
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 20 / 16 * 1;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  --basic-l: 100%;
  --basic: hsl(var(--basic-h) var(--basic-s) var(--basic-l) / var(--basic-o));
  color: var(--basic);
  --bg-basic: hsl(var(--bg-basic-h) var(--bg-basic-s) var(--bg-basic-l) / var(--bg-basic-o));
  background-color: var(--bg-basic);
  border: none;
  text-align: center;

  &:hover {
    --bg-basic-s: 57%;
    --bg-basic-l: 43%;
  }

  &:active {
    --basic-o: 0.3;
  }

  &--accent {
    --basic-l: 27%;
    --bg-basic-h: 0deg;
    --bg-basic-s: 0%;
    --bg-basic-l: 95%;

    &:hover {
      --bg-basic-s: 0%;
      --bg-basic-l: 92%;
    }

    &:active {
      --basic-o: 1;
      --basic-o: 27%;
    }
  }

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 1;
    width: auto;
    min-width: 244px;
    padding: 17px 26px;
  }
}
