.contacts__tagline {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 21px;
  text-transform: uppercase;
  color: $special_black;
}

.contacts__address {
  line-height: 20px;
  font-style: normal;
  color: $special_dark_grey;
}
