.example {
  outline: red 2.5px solid;
}

.example__wrapper {
  background-color: $basic_grey;
}

.example__info {
  color: $special_dark_grey;
}

.example__stats {
  th {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
  }

  td {
    font-size: 14px;
    line-height: 14px;
    color: $special_dark_grey;
  }
}

.example__cost,
.example__price {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
