.features {
  outline: red 2.5px solid;
  margin-bottom: 27px;
}

.features__item {
  background-color: $basic_grey;
}

.features__title {
  @include oswald(24px, 36px);
  font-weight: 400;
  text-transform: uppercase;
}

.features__link {
  @include oswald(16px, 16px);
  text-transform: uppercase;
  color: $basic_black;
}
