.features {
  margin-bottom: -3px;

  @media (min-width: $desktop-width) {
    margin-bottom: -8px;
  }
}

.features__list {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.features__item {
  background-color: $basic_grey;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    padding: 45px 62px 57px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 29px 48px 59px 51px;

    &:nth-child(odd) {
      margin-right: 80px;
    }
  }

  &:last-of-type {
    .features__info {
      @media (min-width: $tablet-width) {
        width: 57.5%;
      }

      @media (min-width: $desktop-width) {
        width: initial;
      }
    }
  }
}

.features__image {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $basic_green;
  margin-top: 15px;
  margin-left: 2px;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 62px;
    top: 76px;
    width: 200px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
  }
}

.features__icon {
  position: absolute;

  &--slim {
    left: 7px;
    bottom: 3px;

    @media (min-width: $tablet-width) {
      left: 30px;
      bottom: 16px;
      width: 69%;
      height: 100%;
    }

    @media (min-width: $desktop-width) {
      left: 13px;
      bottom: 7px;
    }
  }

  &--pro {
    left: -9px;
    bottom: 11px;

    @media (min-width: $tablet-width) {
      left: -35px;
      bottom: 1px;
      width: 133%;
      height: 100%;
    }

    @media (min-width: $desktop-width) {
      left: -17px;
      bottom: 0;
    }
  }
}

.features__title {
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 16px;

  @include oswald(24px, 36px);
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include oswald(36px, 36px);
    width: calc(100% - 220px);
    margin-left: 0;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 62px;
  }
}

.features__info {
  color: $special_dark-grey;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    color: $basic_black;
    width: calc(100% - 220px);
    border: none;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 470px;
    padding-top: 27px;
    padding-bottom: 5px;
  }
}

.features__link {
  padding-top: 5px;
  position: relative;

  @include oswald(16px, 16px);
  text-transform: uppercase;
  color: $basic_black;

  &:hover {
    &::after {
      background-image: url("../../img/decor/arrow+.svg");
      transition: 0.15s;
    }
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    background-image: url("../../img/decor/arrow.svg");
    background-repeat: no-repeat;
    width: 35px;
    height: 12px;
    position: absolute;
    top: 7px;
    left: 100px;


    @media (min-width: $tablet-width) {
      top: 14px;
      left: 132px;
    }
  }

  @media (min-width: $tablet-width) {
    @include oswald(20px, 30px);
    width: calc(100% - 220px);
  }
}
