.gift {
  background-image: url("../../img/decor/gift.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 289px;
}

.gift__text {
  font-size: 16px;
  line-height: 20px;
  color: $basic_white;
}
