.header-wrapper {
  position: relative;

  &::before {
    content: "";
    background-color: $basic_green;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 50%;
    opacity: 0.85;
  }
}
