.main-nav {
  grid-column: 1/-1;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(65px, max-content) 1fr;
  align-items: center;

  @media (min-width: 768px) {
    display: initial;
    grid-column: auto;
    justify-self: end;
  }
}

.main-nav__toggle {
  grid-column: 3;
  justify-self: end;
  width: 24px;
  height: 16px;
  border: none;
  background: transparent;
  display: initial;
  position: relative;

  &:focus {
    outline: none;
  }

  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 2px;
    --bg-basic-l: 0%;
    --bg-basic: hsl(var(--bg-basic-h) var(--bg-basic-s) var(--bg-basic-l) / var(--bg-basic-o));
    background-color: var(--bg-basic);
    position: absolute;
    left: 0;
  }

  &::before {
    top: 0;
    box-shadow: 0 7px 0  var(--bg-basic);
  }

  &::after {
    bottom: 0;
  }

  &--close {
    &::before {
      transform: translateY(7px) rotateZ(45deg);
      box-shadow: none;
    }

    &::after {
      transform: translateY(-7px) rotateZ(-45deg);
    }
  }

  &--hidden {
    visibility: hidden;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.main-nav__list {
  grid-column: 1/-1;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: var(--accent-font);
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;

  &--close {
    height: 0;

    @media (min-width: 768px) {
      height: auto;
    }
  }

  @media (min-width: 768px) {
    font-size: 18px;
    font-weight: 400;
    line-height: 24 / 18 * 1;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    column-gap: 24px;
  }

  @media (min-width: 1280px) {
    font-size: 20px;
    line-height: normal;
  }
}

.main-nav__item {
  --border-color-l: 90%;
  --border-color: hsl(var(--border-color-h) var(--border-color-s) var(--border-color-l) / var(--border-color-o));
  margin: 0 -20px;
  padding-top: 21px;
  padding-bottom: 24px;
  border-top: 1px solid var(--border-color);

  @media (min-width: 768px) {
    border: none;
    margin: auto;
    padding-top: 17px;
    padding-bottom: 19px;
    padding-left: 4px;
    padding-right: 4px;
  }
}

.main-nav__link {
  --basic-l: 0%;
  --basic: hsl(var(--basic-h) var(--basic-s) var(--basic-l) / var(--basic-o));
  color: var(--basic);

  &:hover {
    --basic-o: 0.6;
  }

  &:active {
    --basic-o: 0.3;
  }

  @media (min-width: 768px) {
    position: relative;

    &[aria-current] {
      --bg-basic: hsl(var(--bg-basic-h) var(--bg-basic-s) var(--bg-basic-l) / var(--bg-basic-o));
      text-decoration: underline 2px var(--bg-basic);
      text-underline-offset: 12px;
    }
  }

  &--accent {
    @media (min-width: 1280px) {
      --basic-l: 100%;

      &[aria-current] {
        --bg-basic-l: 100%;
        text-underline-offset: 11px;
      }
    }
  }
}
