.main-nav__list {
  margin-top: 22px;
}

.main-nav__item {
  @media (max-width: $mobile-width-only) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: $special_grey-2;
    }
    padding: 22px;
    text-align: center;
  }
}

.main-nav__link {
  @include oswald(20px);
  font-weight: 500;
  text-transform: uppercase;
  color: $basic_black;

  @media (min-width: $tablet-width) {
    @include oswald(18px, 24px);
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    @include oswald(20px, 30px);
    color: $basic_white;
  }
}

.main-nav__item--other-page a {
  @media (min-width: $desktop-width) {
    color: $special_black;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 10px;
  right: 13px;
  width: 17px;
  height: 17px;
  border: none;
  background-color: transparent;

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 20px;
    height: 1.5px;
    background-color: $basic_black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
