.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content min-content;
  margin: 0;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 18 / 14 * 1;
  font-weight: 400;
  --basic-l: 27%;
  --basic: hsl(var(--basic-h) var(--basic-s) var(--basic-l) / var(--basic-o));
  color: var(--basic);
  background-color: hsl(0, 0, 100%);

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24 / 16 * 1;
  }

  &--special {
    @media (min-width: 1280px) {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        right: 0;
        width: 50%;
        height: 696px;
        --bg-basic-o: 0.85;
        --bg-basic: hsl(var(--bg-basic-h) var(--bg-basic-s) var(--bg-basic-l) / var(--bg-basic-o));
        background-color: var(--bg-basic);
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 696px;
        background-color: var(--bg-basic);
        background-image: url("../../img/promo/index-background-desktop@1x.jpg");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: cover;
        z-index: -1;

        @media (min-resolution: 2dppx) {
          background-image: url("../../img/promo/index-background-desktop@2x.jpg");
        }
      }
    }
  }
}

.page__container {
  margin: 0;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  border: none;

  @media (min-width: 768px) {
    padding-left: 3.9%;
    padding-right: 3.9%;
  }

  @media (min-width: 1280px) {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0;
  }

  &--form {
    padding-bottom: 0;

    @media (min-width: 768px) {
      margin-left: 40px;
      margin-right: 36px;
    }

    @media (min-width: 1280px) {
      margin: 0 auto;
    }
  }
}

.page__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page__a11y-hidden {
  position: fixed;
  transform: scale(0);
}
