.page-header {
  --border-color-l: 90%;
  --border-color: hsl(var(--border-color-h) var(--border-color-s) var(--border-color-l) / var(--border-color-o));
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid var(--border-color);

  @media (min-width: 768px) {
    border: none;
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
    grid-template-columns: max-content 1fr;
  }

  @media (min-width: 1280px) {
    padding-top: 53px;
    padding-bottom: 25px;
  }
}

.page-header__wrapper {
  grid-column: 1/-1;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(66px, max-content) 1fr;
  align-items: center;

  @media (min-width: 768px) {
    display: initial;
    grid-column: auto;
  }
}

.page-header__logo-image {
  justify-self: start;

  &[href] {
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.page-header__logo-image img {
  @media (min-width: 768px) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: 1280px) {
    width: 202px;
    height: 59px;
  }
}

.page-header__logo-text {
  justify-self: center;

  @media (min-width: 768px) {
    display: none;
  }
}

.page-header__logo-text img {
  vertical-align: middle;
}
