.promo {
  margin-bottom: 22px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-color: $basic_green;
    opacity: 0.85;
    width: 100%;
    height: 302px;
    z-index: -1;
  }
}

.promo__wrapper {
  outline: red 2.5px solid;
}

.promo__title {
  @include oswald(36px, 40px);
  font-weight: 400;
  color: $basic_white;
}

.promo__tagline {
  @include oswald(14px, 14px);
  text-transform: uppercase;
  color: $basic_white;
}
