.selection {
  outline: red 2.5px solid;
  margin-bottom: 50px;
}

.selection__tagline {
  @include oswald();
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include oswald(20px, 30px);
  }
}

.selection__lists {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}
