.slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  figure {
    margin: 0;
  }
}

.js-enabled .slider__list {
  @media (min-width: 768px) {
    display: block;
    width: 677px;
    height: 520px;
    margin: 0 auto;
    position: relative;
  }
}

.slider__item {
  @media (min-width: 768px) {
    width: 50%;
  }
}

.js-enabled .slider__item {
  position: absolute;
  top: 0;
  height: 100%;
  overflow: hidden;

  @media (max-width: 767px) {
    display: none;
    position: static;

    &--current {
      display: initial;
    }
  }

  &--before {
    @media (min-width: 768px) {
      z-index: 1;

      img {
        max-width: none;
      }
    }
  }

  &--after {
    @media (min-width: 768px) {
      right: 0;

      img {
        max-width: none;
        height: 100%;
        position: absolute;
        top: 0;
        right: -25px;
      }
    }
  }
}

.js-enabled .slider__image-caption {
  display: none;
}

.slider__image-caption {
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  --basic-l: 0%;
  --basic: hsl(var(--basic-h) var(--basic-s) var(--basic-l) / var(--basic-o));
  color: var(--basic);
  margin-bottom: 22px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 1;
  }
}

.slider__image {
  @media (min-width: 768px) {
    width: 677px;
    height: 520px;
  }
}

.slider__control {
  width: 196px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--hide {
    display: none;
  }

  @media (min-width: 768px) {
    width: 590px;
  }
}

.slider__button {
  background: none;
  border: none;
  padding: 0;
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 20 / 16 * 1;
  text-transform: uppercase;
  --basic-l: 0%;
  --basic: hsl(var(--basic-h) var(--basic-s) var(--basic-l) / var(--basic-o));
  color: var(--basic);

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 1;
    position: relative;

    &:hover {
      &::after {
        --border-color-o: 40%;
        border-bottom: 1px solid var(--border-color);
      }
    }

    &:active {
      &::after {
        border: none;
      }
    }

    &::after {
      content: "";
      height: 0;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: -7px;
      --border-color-h: 0deg;
      --border-color-s: 0%;
      --border-color-l: 0%;
      --border-color-o: 24%;
      --border-color: hsl(var(--border-color-h) var(--border-color-s) var(--border-color-l) / var(--border-color-o));
      border-bottom: 1px dotted var(--border-color);
    }
  }
}

.slider__bar {
  width: 84px;
  padding: 3px 6px;
  box-sizing: border-box;
  --bg-basic-h: 0deg;
  --bg-basic-s: 0%;
  --bg-basic-l: 100%;
  --bg-basic: hsl(var(--bg-basic-h) var(--bg-basic-s) var(--bg-basic-l) / var(--bg-basic-o));
  background-color: var(--bg-basic);
  --border-color: hsl(var(--border-color-h) var(--border-color-s) var(--border-color-l) / var(--border-color-o));
  border: 1px solid var(--border-color);
  border-radius: 6px;

  @media (min-width: 768px) {
    position: relative;
    --bg-basic-l: 86%;
    border: none;
    width: 428px;
    height: 6px;
  }
}

.slider__thumb {
  touch-action: none;
  width: 35px;
  height: 6px;
  --bg-basic-h: 97deg;
  --bg-basic-s: 53%;
  --bg-basic-l: 47%;
  --bg-basic: hsl(var(--bg-basic-h) var(--bg-basic-s) var(--bg-basic-l) / var(--bg-basic-o));
  background-color: var(--bg-basic);
  border-radius: 6px;

  @media (min-width: 768px) {
    width: 8px;
    height: 8px;
    --border-color-l: 100%;
    --border-color: hsl(var(--border-color-h) var(--border-color-s) var(--border-color-l) / var(--border-color-o));
    border: 13px solid var(--border-color);
    border-radius: 50%;
    box-shadow: 0 0 0 1px hsl(0, 0%, 80%), 0 1px 3px hsla(0, 0%, 0%, 0.16);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: grab;

    &:hover {
      box-shadow: 0 0 0 1px hsl(0, 0%, 80%), 0 2px 4px hsla(0, 0%, 0%, 0.19);
    }

    &:active {
      cursor: grabbing;
      box-shadow: 0 0 0 1px hsl(97, 53%, 47%), 0 3px 5px hsla(0, 0%, 0%, 0.2);
    }
  }
}
