:root {
  --main-font: "Arial", sans-serif;
  --accent-font: "Oswald", "Arial", sans-serif;
  --basic-h: 0deg;
  --basic-s: 0%;
  --basic-l: 0%;
  --basic-o: 1;
  --bg-basic-h: 97deg;
  --bg-basic-s: 53%;
  --bg-basic-l: 47%;
  --bg-basic-o: 1;
  --border-color-h: 0deg;
  --border-color-s: 0%;
  --border-color-l: 80%;
  --border-color-o: 1;
}
