//colors

$basic_green :#68b738;
$basic_grey : #f2f2f2;
$basic_white : #ffffff;
$basic_black : #000000;
$special_black : #111111;
$special_dark-grey: #444444;
$special_dark-grey-2: #222222;

//mixins

@mixin oswald($font_size : 14px, $line_height : 18px) {
  font-family: "Oswald", sans-serif;
  font-size: $font_size;
  line-height: $line_height;
}

//viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 768px;
